html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}
*, 
*:before, 
*:after {
    box-sizing: inherit;
  }
body{
    font-size: 1.6rem;
    line-height: 2;
}
img{
    max-width: 100%;
}
h1{
    position: absolute;
    top: 7
    0px;
    left: 10%;

}
h2{
    font-size: 3.2rem;
}
p{
    font-size: 2rem;
}
footer{
    background-color: #535353;
    color: antiquewhite;
}
.container{
    max-width: 120rem;
    margin: 0 auto;
    
}
.seccion2{
    margin-top: 0%;
    margin-right: auto;
    margin-bottom: 0%;
    margin-left: auto;
}
.fot{
    max-width: 130rem;
    margin: 0 auto;
}
.lead{
    position: absolute;
    top: 50px;
    left: 10%;
}
@media (min-width:760px) {
    .container{
        display: flex;
        justify-content: space-between;

    }
    .aside{
        flex: 0 0 calc(50% - 1rem);
    }
    .main{
        flex: 0 0 calc(50% - 1rem);
    }

}
.boton{
    position: absolute;
    top: 100%;
    background-color: #fff9c8;
    
}
#oferta{
    grid-template-columns: (1fr,1fr);
}